*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #fff;
    height: 100vh;
    padding: 5px;
    display: grid;
    grid-template-columns: repeat(auto-fill,147.69px);
    grid-auto-rows: 230px;
    gap: 5px;
}
.carta{
    background-image: url("./card-deck-161536_1920.png");
    background-position: 0px -230px;
    width: 147.69px;
    height: 230px;
}