*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  display: grid;
  grid-template-columns: 20% 60% 20%;
  width: 100%;
  max-width: 100%;
  height: 100dvh;
  background-color: #3a3b3c;
  padding: 10px;
}
#cartasPlayer,#cartasMachine{
  overflow-y: auto;
  width: 100%;
  position: relative;
  height: 100%;
  border: 1px solid #fff;
  display: grid;
  padding: 10px;
  gap: 5px;
  padding-top: 120px;
  grid-template-columns: repeat(2, 1fr);
  grid-auto-rows:max-content;
}
#totalPlayer, #totalMachine{
  position: absolute;
  top: 20px;
  left: 50%;
  width: 90%;
  transform: translateX(-50%);
  height: 80px;
  border: 1px solid #fff;
  background-color: #000;
  color: yellow;
  font-size: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 900;
}
#reportero{
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  width: 90%;
  height: 60px;
  border: 1px solid #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  color: #fff;
}
#tablero{
  display: grid;
  grid-template-rows: 25% 50% 25%;
  border: 1px solid #fff;
  margin: 0 10px;
  padding: 10px;
}
#tablero > *{
  width: 100%;
  height: 100%;
  border: 1px solid #fff;
}
#tableroPlayer, #tableroMachine{
  display: grid;
  place-content: center;
  grid-template-columns: repeat(5, 140px);
  gap: 20px;
  height: 100%;
}
#jugada{
  padding: 35px;
  display: grid;
  grid-template-columns: 50% 50%;
  gap: 1rem;
}
#jugada > *{
  width: 100%;
  height: 100%;
  border: 1px solid #fff;
  display: grid;
  grid-template-columns: 160px;
  place-content: center;
}
.fa-spinner {
  animation: spin 1s linear infinite;
}
.carta{
  width: 100%;
  height: 210px;
  display: flex;
  flex-direction: column;
  gap: 5px;
  padding: 5px;
  position: relative;
  background-color: #000;
  img{
    background-color: cyan;
    height: 100%;
    width: 100%;
  }
  .exp{
    position: absolute;
    top: 0px;
    left: 0px;
    background: #000;
    color: #fff;
    padding: 5px;
  }
  .nombre{
    width: 100%;
    text-wrap: wrap;
    text-align: center;
    background-color: #fff;
    color: #000;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    text-transform: uppercase;
  }
}
#tableroPlayer > .carta{
  cursor: pointer;
  transition: transform 0.3s;
}
#tableroPlayer > .carta:hover{
  transform: translateY(-5px);
}
@keyframes spin {
  0% {
      transform: rotate(0deg);
  }
  100% {
      transform: rotate(360deg);
  }
}

.invisible{
  visibility:hidden ;
}
#ganador{
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background-color: #00000091;
  z-index: 100;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-size: 60px;
  color: gold;
  gap: 4rem;
  button{
    padding: 15px;
    border-radius: 5px;
    background-color: gold;
    color: #fff;
    border: none;
    font-size: 16px;
    font-weight: 800;
    cursor: pointer;
  }
}
.display-none{
  display: none !important;
}